#container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(16, 1fr);
    height: 960px;
    width: 960px;
}

.gridSquare {
    border: solid 1px rgb(1, 1, 1);
    height: 1fr;
    width: 1fr;
}

.hoverSquare {
    background-color: lime;
}